@use './breakpoints' as u;
@use './variables' as *;

.btn-dark {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #1e1e1e;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* old Edge / IE */
    user-select: none;
    &:hover {
        background-color: #fff;
        color: #1e1e1e;
    }
    &:active {
        transform: scale(0.97);
    }
    @include u.breakpoint(md) {
        width: max-content;
    }
}

.btn-white {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-color: none;
    border: 1px solid #1e1e1e;
    color: #1e1e1e;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.1s ease;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* old Edge / IE */
    user-select: none;
    &:hover {
        background-color: #fff;
        border: 1px solid #fff;
    }
    &:active {
        transform: scale(0.97);
    }
    @include u.breakpoint(md) {
        width: max-content;
    }
}

.btn-dark-with-icon {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    gap: 0.5rem;
    padding: 0.7rem 1.3rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* old Edge / IE */
    user-select: none;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        color: #1e1e1e;
    }
    &:active {
        transform: scale(0.97);
    }
    @include u.breakpoint(md) {
        // width: max-content;
    }

}